@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 10px;
}

body {
    background: linear-gradient(190deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    min-height: 100vh;
    width: 100vw;
}

h1 {
    padding: 35px 15px;
    font-size: 40px;
}

.container-faq {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    min-width: 1000px;
    min-height: 550px;
    box-shadow: 1px 10px 30px #333;
}

.illustration-part {
    display: inline-block;
    width: 49%;
}

.background-illustration {
  margin: 0;
  position: absolute;
  width: 50%;
  top: 55%;
  -ms-transform: translate(-15%, -50%);
  transform: translate(-20%, -50%);
}

.woman-illustration {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-15%, -50%);
  transform: translate(-15%, -50%);
}

.box-illustration {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-65%, -20%);
    transform: translate(-65%, -20%);
    animation: up-and-down 1.5s alternate-reverse infinite ease-in-out
}

.questions-part {
    display: inline-block;
    width: 50%;
    padding: 60px 10px;
}

.questions-area {
    width: 90%;
    height: auto;
    margin: 5px;
    color: hsl(240, 6%, 50%);
    border-bottom: 2px solid rgb(187, 186, 186, .3);
    padding: 0.5em 0;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
}

.question h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 15px;
}

.question img {
    margin-right: 10px;
    width: 15px;
    cursor: pointer;
}

.answer {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
    width: 90%;
}

.answer p {
    font-size: 12px;
    padding-bottom: 10px;
}

@keyframes up-and-down {
    100% {
      top: 25rem;
    }
}