@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 10px;
}

body {
    background: linear-gradient(190deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
    min-height: 100vh;
    width: 100vw;
}

h1 {
    padding: 35px 15px;
    font-size: 40px;
}

/*
    Container area
*/
.container-faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    box-shadow: 1px 10px 30px #333;
}

/*
    Illustration area
*/
.illustration-part {
    grid-column: 1 / 2;
    grid-row: 1;
}

.background-illustration {
  margin: 0;
  position: absolute;
  width: 50%;
  top: 55%;
  -ms-transform: translate(-15%, -50%);
  transform: translate(-20%, -50%);
}

.woman-illustration {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-15%, -50%);
  transform: translate(-15%, -50%);
}

.box-illustration {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-65%, -20%);
    transform: translate(-65%, -20%);
    animation: up-and-down-1200 1.5s alternate-reverse infinite ease-in-out
}


/*
    Questions area
*/
.questions-part {
    grid-column: 2 / 2;
    grid-row: 1;
    padding: 60px 10px;
}

.questions-area {
    width: 90%;
    height: auto;
    margin: 5px;
    color: hsl(240, 6%, 50%);
    border-bottom: 2px solid rgb(187, 186, 186, .3);
    padding: 0.5em 0;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
}

.question h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 15px;
    cursor: pointer;
}

.question img {
    margin-right: 10px;
    width: 15px;
    cursor: pointer;
}

.answer {
    padding: 0px 15px;
    height: 0px;
    opacity: 0;
    width: 90%;
}

.answer p {
    font-size: 15px;
    padding-bottom: 10px;
}

.open {
    height: auto;
    opacity: 1;
    padding: '20px 15px'
}

.turnArrow {
    transform: rotate(180deg);
    transition: transform 200ms ease-in-out;

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .container-faq {
        grid-template-columns: repeat(1, 1fr);
    }

    .illustration-part {
        grid-column: 1;
        grid-row: 1;
    }

    .questions-area {
        margin: auto;
    }

    .questions-part {
        grid-column: 1;
        grid-row: 2;
    }

    .questions-part h1{
        text-align: center;
    }

    .background-illustration {
        top: 0;
        transform: translate(70%, -50%);
        -ms-transform: translate(70%, -50%);
        width: 40%;
    }
    
    .woman-illustration {
        top: 0;
        -ms-transform: translate(70%, -50%);
        transform: translate(70%, -50%);
        width: 40%;
    }
    
    .box-illustration {
        top: 0;
        -ms-transform: translate(170%, -20%);
        transform: translate(170%, -60%);
        width: 15%;
        animation: up-and-down-900 1.5s alternate-reverse infinite ease-in-out
    }
}

/*
    Animation function
*/
@keyframes up-and-down-1200 {
    100% {
      top: 25rem;
    }
}

@keyframes up-and-down-900 {
    100% {
      top: 5rem;
    }
}
